.cards {
  margin: 50px auto 0;
  max-width: 880px;
}

@media screen and (max-width: 920px) {
  .cards {
    max-width: calc(100% - 64px);
  }
}

@media screen and (max-width: 525px) {
  .cards {
    max-width: 100%;
    margin: 36px 19px 0;
  } 
}