.profile__edit-button {
  padding: 0;
  width: 24px;
  height: 24px;
  align-self: flex-end;
  flex-shrink: 0;
  margin-left: 19px;
  margin-bottom: 9px;
  background-image: url('../../../images/edit_icon.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 525px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-bottom: 6px;
  } 
}