.profile__edit-button {
  padding: 0;
  width: 24px;
  height: 24px;
  align-self: center;
  margin-top: 6px;
  background-image: url('../../../images/edit_icon.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
}