.header__logo {
  max-width: 142px;
  min-height: 33px;
  object-fit: contain;
  margin: 0 0 42px;
  vertical-align: middle;
}

@media screen and (max-width: 525px) {
  .header__logo {
    max-width: 104px;
    min-height: 25px;
    margin: 0 0 32px 27px;
  }
}