.popup__button {
  padding: 0;
  margin-top: 31px;
  min-height: 50px;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 525px) {
  .popup__button {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}