.profile {
  display: flex;
  align-items: center;
  margin: 40px 32px 0;
  max-width: 880px;
}

@media screen and (max-width: 525px) {
  .profile {
    margin: 42px 19px 0;
    flex-direction: column;
    align-items: center;
  } 
}