.profile {
  display: flex;
  align-items: center;
  margin: 40px auto 0;
  max-width: 880px;
}

@media screen and (max-width: 920px) {
  .profile {
    max-width: calc(100% - 64px);
  }
}

@media screen and (max-width: 525px) {
  .profile {
    max-width: 100%;
    margin: 42px 19px 0;
    flex-direction: column;
    align-items: center;
  } 
}