.card__remove-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  background-image: url('../../../images/remove-icon.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.card__remove-button:hover {
  cursor: pointer;
}