.profile__about {
  margin: 3px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 525px) {
  .profile__about {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}