.header {
  padding: 0;
  margin: 45px auto 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  max-width: 880px;
}

@media screen and (max-width: 525px) {
  .header {
    margin: 28px 0 0;
  } 
}