.profile__add-button {
  padding: 0;
  width: 150px;
  height: 50px;
  background-image: url('../../../images/add_icon.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  margin-left: auto;
}