.card__like-button {
  padding: 0;
  margin-right: 20px;
  width: 22px;
  height: 19px;
  background-image: url('../../../images/not-liked-icon.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.card__like-button:hover {
  opacity: .5;
  cursor: pointer;
}