.profile__name {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 525px) {
  .profile__name {
    text-align: center;
    font-size: 27px;
    line-height: 33px;
  } 
}