.profile__add-button {
  padding: 0;
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  background-image: url('../../../images/add_icon.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  margin-left: auto;
  border-radius: 2px;
  background-size: 22px;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 525px) {
  .profile__add-button {
    margin: 0;
    width: auto;
    align-self: stretch;
    background-size: 16px;
  }
}