@import url('../vendor/normalize.css');
@import url('../fonts/fonts.css');

@import url('../blocks/container/container.css');
@import url('../blocks/page/page.css');
@import url('../blocks/main/main.css');

@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');

@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__role/profile__role.css');
@import url('../blocks/profile/__edit-button/profile__edit-button.css');
@import url('../blocks/profile/__add-button/profile__add-button.css');

@import url('../blocks/cards/cards.css');
@import url('../blocks/cards-list/cards-list.css');
@import url('../blocks/card/card.css');
@import url('../blocks/card/__image/card__image.css');
@import url('../blocks/card/__info/card__info.css');
@import url('../blocks/card/__title/card__title.css');
@import url('../blocks/card/__like-button/card__like-button.css');

@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');

@import url('../blocks/edit-modal-window/edit-modal-window.css');
@import url('../blocks/edit-modal-window/_opened/edit-modal-window_opened.css');