.profile__info {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 525px) {
  .profile__info {
    margin: 26px 0 36px;
    max-width: 100%;
  }
}