.footer {
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 920px) {
  .footer {
    max-width: calc(100% - 64px);
  }
}

@media screen and (max-width: 525px) {
  .footer {
    margin: 0 19px;
  } 
}