.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 0 0 54px;
}

@media screen and (max-width: 525px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 75px;
  } 
}