.card__info {
  display: grid;
  grid-template-columns: 1fr 22px;
  gap: 0 20px;
  align-items: center;
  background-color: #FFF; 
  height: 69px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 20px;
}