.popup__textfield {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 5px 0 9px 5px;
  margin-bottom: 30px;
  outline-color: rgb(104, 150, 255);
}